<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUvQIa6I5_rRGtArGhJymDSdN8YXvluZo"></script> -->
    <script      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUBaCfQGXQo-69IeU1EspV7_8xIEydu5w&libraries=&v=weekly"></script>

    <title >Cafeteria</title>
</head>
<body>
    <style>
#map {
  height: 300px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

    </style>
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
              <div class="row w-100" >
                <div class="col-lg-2" style="">
                 
                </div>
                <div class="col-lg-10 ">
                  <div class="dropdown  float-right">
                    <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" style="background:transparent!important;border-color:transparent!important;">
                    [[DataUser]]
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="javascript:void(0)" @click="LogOut">Salir</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        <div class="container" >
            <h1 class="text-center mt-4">Cafeteria</h1>
            <div id="menu">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-primary" >Mapa</button>
                    <button type="button" class="btn btn-outline-secondary" @click=" map=false, caf=true">Cafeteria</button>
                  </div>              
            </div>
            <div id="mapa" v-if="map==true">
                    <!-- Mapa para localizar cafeterias, se necesita api key -->
                    <div id="map"></div>
            </div>
            <div id="cafeteria" v-if="caf==true">
                <div id="NewUser" class="" >
                    <div class="row">
                        <div class="col-lg-5 mt-3">
                            <form   class="w-100 m-auto" @submit.prevent="CreateCoffe">
                                <h2>Agregar Cafeteria</h2>
                                <div class="form-group">
                                    <label for="NameCoffe">Nombre:</label>
                                    <input type="text"  class="form-control" name="NameCoffe" id="NameCoffe" v-model="NameCoffe" required> 
                                </div>
                                <div class="form-group">
                                    <label for="LocationCoffe">Ubicación:</label>
                                    <input type="text"  class="form-control" name="LocationCoffe" id="LocationCoffe" v-model="LocationCoffe" required> 
                                </div>
                                <div class="form-group">
                                    <label for="CoordinateCoffe">Coordenadas:</label>
                                    <input type="text"  class="form-control" name="CoordinateCoffe" id="CoordinateCoffe" v-model="CoordinateCoffe" required> 
                                </div>
                                <div class="form-group">
                                    <label for="PhoneCoffe">Teléfono:</label>
                                    <input type="text"  class="form-control" name="PhoneCoffe" id="PhoneCoffe" v-model="PhoneCoffe" required> 
                                </div>
                                <div class="form-group">
                                    <label for="EmailCoffe">Correo:</label>
                                    <input type="email"  class="form-control" name="EmailCoffe" id="EmailCoffe" v-model="EmailCoffe" required>
                                </div>
                                
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success px-4 mt-3">Agregar</button>
                                    <div class="mt-3">
                                        <a class="mt-4" @click="">Iniciar Sesión</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-7 mt-4">
                            <table class="table mt-4">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Ubicación</th>
                                    <th scope="col">Coordenadas</th>
                                    <th scope="col">Teléfono</th>
                                    <th scope="col">Correo</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="coffes in listcoffes"> 
                                    <th >[[coffes.Nombre]]</th>
                                    <th >[[coffes.Ubicacion]]</th>
                                    <th >[[coffes.Coordenadas]]</th>
                                    <th >[[coffes.Telefono]]</th>
                                    <th >[[coffes.Correo]]</th>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
             </div>
             
        
        </div>
    </div>

    <div class="modal fade" id="modalerror" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">¡Ha ocurrido algo!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="MSerror"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</body>
<script>



 	var apps = new Vue({
            el: "#app",
            delimiters:['[[',']]'],
			data: {
              message: "Bienvenido",
              map:true,
              caf:false,
              DataUser:'',
              NameCoffe:'',
              LocationCoffe:'',
              CoordinateCoffe:'',
              PhoneCoffe:'',
              EmailCoffe:'',
              listcoffes:'',
            },
            methods:{
                initMap:function(){
                vm=this;
                vm.map=true;
                vm.caf=false;
                let map;
                    map = new google.maps.Map(document.getElementById("map"), {
                        center: { lat: -34.397, lng: 150.644 },
                        zoom: 8,
                    });
                                        
               },
               CreateCoffe:function(){
                   vm=this;
                var params={
                    Nombre:vm.NameCoffe,
                    Ubicacion:vm.LocationCoffe,
                    Coordenadas:vm.CoordinateCoffe,
                    Telefono:vm.PhoneCoffe,
                    Correo:vm.EmailCoffe,
                    }
                axios.post("/addCoffe",params).then(function(response){
                        console.log(response.data.success);
                        if(response.data.success==false&&response.data.error!=" "){
                            vm.modalerror(response.data.error);
                            return false;
                        }else{
                        vm.NameCoffe='';
                        vm.LocationCoffe='';
                        vm.CoordinateCoffe='';
                        vm.PhoneCoffe='';
                        vm.EmailCoffe='';
                        vm.getCoffes();
                        }
                    }).catch(function(error){

                    });
               },
               getCoffes:function(){
                   vm=this;
                axios.get("/getCoffe").then(function(response){
                        console.log(response);
                        if(response.data.success==true&&response.data.error==""){
                            console.log(response.data.error);
                            vm.listcoffes=response.data.datos;
                        }else{
                        
                        }
                    }).catch(function(error){

                    });
            },
            getDataUser:function(){
                   vm=this;
                axios.get("/getDataUser").then(function(response){
                    console.log(response);
                    if(response.data.success==true&&response.data.error==""){
                            vm.DataUser=response.data.user;
                        }else{
                        
                        }
                    }).catch(function(error){

                    });
            },
            LogOut:function(){
                   vm=this;
                axios.get("/logout").then(function(response){
                    console.log(response);
                    if(response.data.success==true&&response.data.error==""){
                        window.location.href = '/Dashboard'; 
                        }else{
                            
                        }
                    }).catch(function(error){

                    });
            },
            },
            
            mounted(){
               vm= this;
               vm.getCoffes();
               vm.getDataUser();
                // vm.initMap();
            }
		  });

</script>
</html>